.visitLog {

  width: 975px;
  height: 200px;
  margin: 20px 0 25px 110px;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.visitor {
  display:flex;
  height: 150px;
  flex-basis: 550px;

  flex-direction: column;
  
  gap:30px;
  justify-content: space-between;
}

.visitLog>.visitorButton {
  color: brown;
}

.visitorButton img {
  margin-left: 5px;
}

.chatAndButton {
  display: flex;
  margin-left : 110px;
  gap:10px;
  
}
