.container {
  width: 100%;
}
.container .wrapper {
  width: 90%;
  margin: 0 auto;
}

.headerContainer {
  width: 975px;
  height: 60px;
  margin: 0 auto;
  padding: 0 px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  padding: 40px 0;
  border-bottom: 1px solid #fb7c7c;
  display: flex;
  flex-direction: row;
}

.header button {
  width: 40px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}
.header button img {
  height: 30px;
}
.header .header_title {
  width: 100%;
  text-align: center;
}
.header .header_title h2 {
  font-size: 32px;
  color: #fb7c7c;
}

.mainSection {
  width: 953px;
  height: auto;
  margin: 0 auto;
  padding: 30px 20px 0 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.userProfile {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.userProfileImg {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
}

.userNickName {
  font-size: 18px;
  font-weight: bold;
}

.postImageImg {
  width: 100%;
  object-fit: cover;
}

.buttons {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.transparentButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.buttonIcon {
  width: 30px;
  height: 30px;
}

.postDate {
  font-size: 14px;
}

.postContent {
  font-size: 16px;
  margin-bottom: 15px;
}

.postComments {
  font-size: 14px;
}

.postImage {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  z-index: 1;
  cursor: pointer;
  display: none;
}

.postImage:hover .arrow {
  display: block;
}

.prev {
  left: 5px;
}

.next {
  right: 5px;
}

.arrow img {
  width: 25px;
}
