.container {
  width: 100%;
}
.container .wrapper {
  width: 90%;
  margin: 0 auto;
}
.header {
  width: 100%;
  padding: 40px 0;
  border-bottom: 1px solid #fb7c7c;
  display: flex;
  flex-direction: row;
}

.header button {
  width: 40px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}
.header button img {
  height: 30px;
}
.header .header_title {
  width: 100%;
  text-align: center;
}
.header .header_title h2 {
  font-size: 32px;
  color: #fb7c7c;
}
.input_wrapper {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.input_wrapper .input {
  width: 60%;
  font-size: 32px;
  border-radius: 30px;
  border: 1px solid #a0a0a0;
  text-align: center;
  padding: 10px 20px;
}

.message_container {
  margin-top: 50px;
}

.message_container .message_wrapper {
  cursor: pointer;
  background-color: #ffd4d4;
  border-radius: 150px;
  display: flex;
}
.message_container .message_wrapper .text {
  padding-left: 30px;
  width: 90%;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.message_container .message_wrapper .text .message_date {
  color: #a8a8a8;
}
